 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                    <p>I was born in Italy in 1994. I got my BS and MS respectively in Information Engineering (2016) and in Telecommunication Engineering (2018) from the University of Padova. <br/>
                    Now I am a Ph.D. student at the Department of Information Engineering of the same University under the supervision of <a href="https://scholar.google.it/citations?user=xk2N2wkAAAAJ&hl=en&oi=ao">Prof. Pietro Zanuttigh</a>. </p>
                    <p>My research interests include applications of Game Theory, Semantic Segmentation and Deep Learning for images and videos, link-prediction in Complex Networks. <br/>
                    A particular attention is given to the adoption of Generative Adversarial Networks for semi-supervised Semantic Segmentation in order to dramatically reduce the number of training samples needed.
                    </p>

                    <p>Check the publications section to know more about these topics and the <a href="http://lttm.dei.unipd.it">Multimedia Technology and Telecommunication Lab</a> at University of Padova.
                    </p>
            </div>
        </div>
    </section>
