 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                    <p>I was born in Italy in 1994. I got my BS and MS respectively in Information Engineering (2016) and in Telecommunication Engineering (2018) from the University of Padova. <br/>
                    Currently I am a Ph.D. student at the Department of Information Engineering of the same University under the supervision of <a href="https://scholar.google.it/citations?user=xk2N2wkAAAAJ&hl=en&oi=ao"> Pietro Zanuttigh</a>. </p>
                    <p>My main research interest is the design of Deep Learning systems for the semantic segmentation task which can incrementally learn to segment and to label new classes over time.
                    Furthermore I am focused on Unsupervised Domain Adaptation techniques for semantic segmentation which allows to train deep neural networks on large synthetic datasets, where the generation of the ground-truth is inexpensive, and then adapt them to real dataset without labels. <br/>
                    I am also passionate of link-prediction in Complex Networks and applications of Game Theory.
                    </p>

                    <p>Check out the publications section to know more about these topics and the <a href="http://lttm.dei.unipd.it">Multimedia Technology and Telecommunication Lab</a> at University of Padova.
                    </p>
            </div>
        </div>
    </section>
