 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
            		<p>I am a Computer Vision and Deep Learning research scientist. My goal is to contribute to the continual adaptation of AI to human needs and its adoption into everyday life.</p>

                    <p>I was born in Italy in 1994. I got my B.Sc and M.Sc. respectively in Information Engineering (2016) and in Telecommunication Engineering (2018) from the <a href="https://www.unipd.it/en/"> University of Padova</a>. <br/>
                    Currently, I am a final-year Ph.D. candidate at the <a href="https://www.dei.unipd.it/en/"> Department of Information Engineering</a> of the same University under the supervision of <a href="https://scholar.google.it/citations?user=xk2N2wkAAAAJ&hl=en&oi=ao"> Pietro Zanuttigh</a> in the <a href="https://lttm.dei.unipd.it/nuovo/index.html"> LTTM</a> lab. </p>

                    <p>In 2018 I was a Visiting Research at the <a href="https://tu-dresden.de/?set_language=en">Technische Universität Dresden</a> in the Biomedical Cybernetics Group led by <a href="https://scholar.google.com/citations?user=b7xoXO0AAAAJ&hl=en"> Carlo Vittorio Cannistraci</a> (now director of the <a href="https://brain.tsinghua.edu.cn/info/faculty/724"> Center for Complex Network Intelligence</a> at <a href="https://www.tsinghua.edu.cn/en/"> Tsinghua University</a>). </p>

                    <p>In 2020/2021 I was an AI Research Engineer Intern at <a href="https://research.samsung.com/sruk">Samsung Research UK</a> under the supervision of <a href="https://dblp.org/pid/26/5515.html">Mete Ozay</a>. </p>


                    <p>My main research interests are:<br/>
                    - <b>Continual Learning:</b> train deep learning models to incrementally learn new concepts over time.<br/>
                    - <b>Unsupervised Domain Adaptation:</b> adapt deep neural networks trained on large datasets, where the generation of the ground-truth is inexpensive, to other data without labels. <br/>
                    - <b>Federated Learning:</b> collaboratively train deep learning models without sharing private user data.<br/>
                    - <b>Coarse-to-Fine Curriculum Learning:</b> refine a coarser training with a finer set of labels.<br/>
                    </p>

                    <p>Check out the <a href="#publications">publications</a> section and my <a href="https://scholar.google.com/citations?user=aWD8qGwAAAAJ&hl=en">Google Scholar</a> profile to know more about these topics.
                    </p>
            </div>
        </div>
    </section>
