 <!-- About Section -->
    <section class="success" id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>News</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
            		<p>
                    11/2020 - 1 paper accepted at WACV 2021 (virtually held, arghhh!!) <br/>
            		09/2020 - I'm joining Samsung Research UK as an AI Research Intern for 8 months <br/>
                    07/2020 - 1 paper accepted at ECCV 2020! <br/>
                    06/2020 - 1 paper accepted at ICPR 2020! <br/>
                    04/2020 - 1 paper accepted at IEEE Transactions of Intelligent Vehicles!
                    </p>
            </div>
        </div>
    </section>
