 <!-- About Section -->
    <section class="success" id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>News</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
            		<p>
            		03/2021 - <a href="https://arxiv.org/abs/2103.06342" style="color:#6940af">1 paper</a> accepted at CVPR 2021! <br/>
                    01/2021 - <a href="https://www.sciencedirect.com/science/article/abs/pii/S1077314221000114" style="color:#6940af">1 journal paper</a> accepted at CVIU <br/>
                    11/2020 - <a href=" https://openaccess.thecvf.com/content/WACV2021/html/Toldo_Unsupervised_Domain_Adaptation_in_Semantic_Segmentation_via_Orthogonal_and_Clustered_WACV_2021_paper.html" style="color:#6940af">1 paper</a> accepted at WACV 2021 (virtually held, arghhh! Originally planned in Hawaii) <br/>
            		09/2020 - I'm joining <a href="https://research.samsung.com/sruk" style="color:#6940af">Samsung Research UK</a> as an AI Research Intern for 8 months <br/>
                    07/2020 - <a href="https://www.ecva.net/papers/eccv_2020/papers_ECCV/html/598_ECCV_2020_paper.php" style="color:#6940af">1 paper</a> accepted at ECCV 2020! <br/>
                    06/2020 - <a href="https://arxiv.org/abs/2004.12724" style="color:#6940af">1 paper</a> accepted at ICPR 2020! <br/>
                    04/2020 - <a href="https://ieeexplore.ieee.org/document/9035616" style="color:#6940af">1 journal paper</a> accepted at IEEE Transactions of Intelligent Vehicles!
                    </p>
            </div>
        </div>
    </section>
