 <!-- Publications Section -->
    <section class="success" id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publications</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">

            	<font size="+5"> <b> Journals </b> <br/> </font>

                <p>[J5] Michieli U. and Zanuttigh P., "Knowledge Distillation for Incremental Learning in Semantic Segmentation", submitted to Elsevier Computer Vision and Image Understanding (CVIU), 2020. <a href="https://arxiv.org/pdf/1911.03462.pdf" style="color:#515151">[PDF]</a>  <br/></p>

                <p>[J4] Toldo M., Maracani A., Michieli U., Zanuttigh P., "Unsupervised Domain Adaptation in Semantic Segmentation: a Review", Technologies, 2020. <a href="https://arxiv.org/abs/2005.10876" style="color:#515151">[PDF]</a>  <br/></p>

                <p>[J3] Michieli U., Biasetton M., Agresti G., Zanuttigh P., "Adversarial Learning and Self-Teaching Techniques for Domain Adaptation in Semantic Segmentation", IEEE Transactions on Intelligent Vehicles (T-IV), 2020. <a href="https://arxiv.org/pdf/1909.00781.pdf" style="color:#515151">[PDF]</a> <a href="https://lttm.dei.unipd.it/paper_data/semanticDA/" style="color:#515151">[webpage]</a> <a href="https://ieeexplore.ieee.org/document/9035616" style="color:#515151">[link]</a> <br/></p>
                

                <p>[J2] Mel M., Michieli U., Zanuttigh P., "Incremental and Multi-Task Learning Strategies for Coarse-To-Fine Semantic Segmentation", Technologies, special issue on Computer Vision and Image Processing Technologies 2020, 8, 1. <a href="download/paper/2020_technologies.pdf" style="color:#515151">[PDF]</a> <a href="https://www.mdpi.com/2227-7080/8/1/1" style="color:#515151">[link]</a> <br/></p>

                <p>[J1] Toldo M., Michieli U., Agesti G., Zanuttigh P., "Unsupervised Domain Adaptation for Mobile Semantic Segmentation based on Cycle Consistency and Feature Alignment", Image and Vision Computing (IMAVIS), 2020. <a href="https://arxiv.org/abs/2001.04692" style="color:#515151">[link]</a> <a href="http://lttm.dei.unipd.it/paper_data/UDAmobile/" style="color:#515151">[webpage]</a><br/></p>

                <font size="+5"> <b> Conferences </b> <br/> </font>

                <p>[C5] Michieli U., Zanuttigh P., "Incremental Learning Techniques for Semantic Segmentation", Proceedings of the International Conference on Computer Vision (ICCV), Workshop on Transferring and Adapting Source Knowledge in Computer Vision (TASK-CV), Seoul (South Korea), 2 November 2019. <a href="https://lttm.dei.unipd.it/paper_data/IL/" style="color:#515151">[webpage]</a> <a href="download/paper/2019_ICCVW.pdf" style="color:#515151">[PDF]</a> <a href="download/poster/poster_2019_ICCVW.pdf" style="color:#515151">[poster]</a> <a href="https://github.com/LTTM/IL-SemSegm" style="color:#515151">[code]</a> <br/></p>

                <p>[C4] Michieli U., Camporese M., Agiollo A., Pagnutti G., Zanuttigh P., "Region Merging Driven by Deep Learning for RGB-D Segmentation and Labeling", Proceedings of the International Conference on Distributed Smart Cameras (ICDSC), Trento (Italy), 9-11 September 2019. <a href="https://dl.acm.org/citation.cfm?id=3349810" style="color:#515151">[link]</a> <a href="download/slides/slides_2019_ICDSC.pdf" style="color:#515151">[slides]</a> <br/> </p>

                <p>[C3] Biasetton M., Michieli U., Agresti G., Zanuttigh P., "Unsupervised Domain Adaptation for Semantic Segmentation of Urban Scenes", Proceedings of IEEE Conference on Computer Vision and Pattern Recognition (CVPR) Workshop on Autonomous Driving (WAD), Long Beach (USA), 17 June 2019. <a href="http://lttm.dei.unipd.it/paper_data/semanticDA/" style="color:#515151">[link]</a> <a href="http://openaccess.thecvf.com/content_CVPRW_2019/papers/WAD/Biasetton_Unsupervised_Domain_Adaptation_for_Semantic_Segmentation_of_Urban_Scenes_CVPRW_2019_paper.pdf" style="color:#515151">[PDF]</a> <a href="download/poster/poster_2019_ICVSS.pdf" style="color:#515151">[posterICVSS2019]</a> <a href="download/poster/poster_2019_CVPRW.pdf" style="color:#515151">[posterCVPRW2019]</a> <a href="https://lttm.dei.unipd.it/paper_data/semanticDA/" style="color:#515151">[webpage]</a> <br/></p>
                

                <p>[C2] Michieli U., Badia L., "Game Theoretic Analysis of Road User Safety Scenarios Involving Autonomous Vehicles", IEEE International Symposium on Personal, Indoor and Mobile Radio Communications (PIMRC), Bologna (Italy), pages 1377-1381, 9-12 September 2018. <a href="https://ieeexplore.ieee.org/document/8580679" style="color:#515151">[link]</a> <a href="download/paper/2018_PIMRC.pdf" style="color:#515151">[PDF]</a> <a href="download/slides/slides_2018_PIMRC.pdf" style="color:#515151">[slides]</a> <br/></p> 

                <p>[C1] Cisotto G., Michieli U., Badia L., "A Coherence Study on EEG and EMG Signals", Proceedings of the Global Wireless Summit (GWS), Aarhus (Denmark), pages 372–376, December 2016, e-ISBN: 9788793609297. <a href="download/paper/2016_GWS.pdf" style="color:#515151">[PDF]</a> <a href="download/slides/slides_2016_GWS.pdf" style="color:#515151">[slides]</a> <br/> </p>



                <font size="+5"> <b> Posters </b> <br/> </font>

                <p>[P2] Michieli U., Testolina P., Lecci M., Zorzi M. "Wireless User Positioning via Synthetic Data Augmentation and Smart Ensembling", IEEE Communication Theory Workshop (CTW), May 26-29, 2019, Selfoss (Iceland). <a href="download/poster/poster_2019_CTW.pdf" style="color:#515151">[PDF]</a> <br/> </p>

                <p>[P1] Michieli U., Muscoloni A., Badia L., Cannistraci C.V. "A <i>dramatic truth</i> in link prediction: SBM inference fails to effectively predict even the structure of synthetic networks generated with the SBM model", Complex Networks 2018: the 7th International Conference on Complex Networks and Their Applications, December 11-13, 2018, Cambridge (United Kingdom). <a href="download/poster/poster_2018_Cambridge.pdf" style="color:#515151">[PDF]</a> <br/> </p>


                <font size="+5"> <b> Bachelor and Master Thesis </b> <br/> </font>
                <p>[MS] Michieli U., "Link Prediction on Real and Synthetic Complex Networks", MS Thesis in Telecommunication Engineering, Department of Information Engineering, University of Padova, September 2018. <a href="download/thesis/master_thesis.pdf" style="color:#515151">[PDF]</a> <a href="download/thesis/master_template.zip" style="color:#515151">[LaTeX template]</a> <a href="download/slides/slides_master.pdf" style="color:#515151">[slides]</a> <a href="download/slides/slides_master_template.pptx" style="color:#515151">[template slides]</a> <br/> </p>

                <p>[BS] Michieli U., "Correlation and Coherence Analysis between EEG and EMG signals", BS Thesis in Information Engineering, Department of Information Engineering, University of Padova, July 2016. <a href="download/thesis/bachelor_thesis.pdf" style="color:#515151">[PDF]</a> <a href="download/thesis/bachelor_template.zip" style="color:#515151">[LaTeX template]</a> <a href="download/slides/slides_bachelor.pdf" style="color:#515151">[slides]</a> <a href="download/slides/slides_bachelor_template.tex" style="color:#515151">[template slides]</a> <br/> </p>

            </div>
            <div class="row">
            <p><br/>Visit my profile on Google Scholar: <a href="https://scholar.google.it/citations?user=aWD8qGwAAAAJ&hl=en" style="color:#515151">Umberto Michieli</a>
            </p>
            </div>
        </div>
    </section>
